
    <section id="hero" class="d-flex align-items-center">
      <div class="container aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
        <h1>Welcome to <span>UV Illuminate</span></h1>
        <h2>The Clever Way</h2>
        <div class="d-flex">
        </div>
      </div>
    </section>

    <section id="about" class="about section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Home</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <h3>Applications</h3>
            <ul>
              <li>
                <i class="bx bx-bookmark"></i>
                <div>
                  <h5>Killing or inactivating bacteria, viruses and other primitive organisms</h5>
                </div>
              </li>
              <li>
                <i class="bx bx-bookmark"></i>
                <div>
                  <h5>Air, water and surface disinfection in hospitals, bacteriological research and pharmaceutical environments, and food processing industries such as dairies, breweries and bakeries.</h5>
                </div>
              </li>
              <li>
                <i class="bx bx-bookmark"></i>
                  <div>
                    <h5>Disinfection of drinking water, waste water, swimming pools, air conditioning systems, cold storage rooms, packing materials etc.</h5>
                  </div>
                </li>
                <li>
                  <i class="bx bx-bookmark"></i>
                  <div>
                    <h5>Used in a variety of photochemical processes</h5>
                  </div>
                </li>
                <li>
                  <i class="bx bx-bookmark"></i>
                  <div>
                    <h5>Radiation of these lamps is harmful to eyes and skin. Installations with these lamps are to be screened off completely.</h5>
                  </div>
                </li>
            </ul>
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <h3>Features & Benefits</h3>
            <ul>
              <li>
                <i class="bx bx-bookmark"></i>
                <div>
                  <h5>Emits short-wave UV radiation of 253.7 nanometers (nm) in the UV-C germicidal band width.</h5>
                </div>
              </li>
              <li>
                <i class="bx bx-bookmark"></i>
                <div>
                  <h5>The glass in the light bulb filters out 185 nm ozone forming light.</h5>
                </div>
              </li>
              <li>
                <i class="bx bx-bookmark"></i>
                  <div>
                    <h5>This light bulb requires a ballast to operate.</h5>
                  </div>
                </li>
                <li>
                  <i class="bx bx-bookmark"></i>
                  <div>
                    <h5>Consistent output of UV-C wavelength of light lifetime.</h5>
                  </div>
                </li>
                <li>
                  <i class="bx bx-bookmark"></i>
                  <div>
                    <h5>Warning label on light indicates UV-C radiation output.</h5>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="team" class="team section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Device</h2>
          <!-- <h3>---<span>-----</span></h3> -->
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="assets\img\device\devicepic1.jpg" class="img-fluid" alt="">
              </div>
              <!-- <div class="member-info">
                <h4>Device</h4>
                <span>1</span>
              </div> -->
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="assets\img\device\devicepic2.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="assets\img\device\devicepic3.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="assets\img\device\devicepic4.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>

        </div>
        <div class="aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
          <div style="padding-top: 50px;">
              <img class="img-responsive" src="assets\img\specification_table.jpg">
          </div>
      </div>
      </div>
      
    </section>
  